@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
body{
    background-color: chocolate;
}

h1{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Maven Pro';
    background-color: black;
}

img{
    width: 50px;
}

ul{
    font-size: 40px;
}