@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
:root{
    --cor-principal:#d06711f2;
    --cor-secundaria:#7b7bc2;
    --cor-destaque:#18c718;
}

body{
    font-family: "Maven Pro", sans-serif;
    color: var(--cor-principal);
    background-color: var(--cor-destaque);
}

h1,h2,h5{
    color: var(--cor-secundaria);
    font-weight: 700;
}